<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/public/lib/font-awesome/css/font-awesome.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/public/css/client.css" media="screen">
    <link rel="canonical" href="http://hashbrown.rocks{{ page.url }}">

    <title>HashBrown - {{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
</head>
