/**
 * All colours used on the site
 */
$color-primary: #e70d3b;
$color-primary-alt: #ffffff;

$color-secondary: #21303b;
$color-secondary-dark: #d8153e;
$color-secondary-alt: #ffffff;

$color-standard: #eeeeee;
$color-standard-alt: #333333;
