/**
 * The global site footer
 */
footer {
    background-color: $color-secondary;
    background-image: url('/assets/img/background-secondary.jpg');
    background-position: top center;
    background-size: cover;
    color: $color-secondary-alt;
    height: 30vh;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    line-height: 2;

    a {
        color: $color-primary;
    }
}
