/**
 * Global site widgets
 */
.btn {
    border-radius: 2px;
    line-height: 3rem;
    min-width: 8rem;
    text-decoration: none;
    padding: 0 1rem;
    cursor: pointer;
    height: 3rem;
    text-align: center;
    background-color: $color-primary;
    color: $color-primary-alt;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        background-color: $color-secondary-dark;
    }
}

pre {
    background-color: $color-secondary;
    background-image: url('/assets/img/background-secondary.jpg');
    color: $color-secondary-alt;
    padding: 2rem;
    border-radius: 2px;
    background-position: center;
    background-attachment: fixed;
    overflow-x: auto;
    margin: 2rem;
}
