$lg-h: "min-width: 1200px";
$md-h: "max-width: 1199px";
$sm-h: "max-width: 991px";
$xs-h: "max-width: 767px";

$lg-v: "min-height: 1200px";
$md-v: "max-height: 1199px";
$sm-v: "max-height: 991px";
$xs-v: "max-height: 767px";
