@import 'sass-material-colors';
@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';
@import './reset';
@import './breakpoints';
@import './colors';
@import './typography';
@import './widgets';
@import './sections';

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960px;

    @media($md-h) {
        max-width: 800px;
    }

    @media($sm-h) {
        max-width: 580px;
    }

    @media($xs-h) {
        max-width: calc(100% - 20px);
    }
}

footer {
    background-color: $grey-darkest;
    color: $white;
    padding: 4em 0em;
    text-align: center;
}
