@import './reset';
@import './breakpoints';
@import './colors';
@import './typography';
@import './widgets';
@import './sections';
@import './navigation';

body {
    background-color: $standard-dark;
    padding-top: 52px;

    @media($xs-h) {
        padding-top: 84px;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 2rem);
    max-width: 960px;

    @media($md-h) {
        max-width: 800px;
    }

    @media($sm-h) {
        max-width: 580px;
    }

    @media($xs-h) {
        max-width: calc(100% - 20px);
    }
}

footer {
    background-color: $secondary;
    color: $secondary-text;
    padding: 4em 0em;
    text-align: center;
}
