@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';
@import './reset';
@import './breakpoints';
@import './colors';
@import './typography';
@import './sections';

/*
a {
  color: #d5000d;
}
a:hover {
  color: #c5000c;
}

header {
  padding-top: 35px;
  padding-bottom: 25px;
}

header h1 {
  font-family: 'Roboto Condensed', Helvetica, Arial, serif;
  font-size: 48px; font-weight: 900;
  line-height: 1.2;
  color: #303030;
  letter-spacing: -1px;
}

header h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.3;
  color: #aaa;
  letter-spacing: -1px;
}

#container {
  min-height: 595px;
  background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat;
}

.inner {
  width: 620px;
  margin: 0 auto;
}

#container .inner img {
  max-width: 100%;
}

#downloads {
  margin-bottom: 40px;
}

a.button {
  display: block;
  float: left;
  width: 179px;
  padding: 12px 8px 12px 8px;
  margin-right: 14px;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  color: #303030;
  border-top: solid 1px #cbcbcb;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b3b3b3;
  border-left: solid 1px #b7b7b7;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
  box-shadow: 0px 1px 5px #e8e8e8;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
a.button:hover {
  border-top: solid 1px #b7b7b7;
  border-right: solid 1px #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
  border-left: solid 1px #b3b3b3;
}

a.button span {
  display: block;
  height: 23px;
  text-align: center;
}

#download-zip span {
  background: transparent url(../images/zip-icon.png) 12px 50% no-repeat;
}
#download-tar-gz span {
  background: transparent url(../images/tar-gz-icon.png) 12px 50% no-repeat;
}
#view-on-github span {
  background: transparent url(../images/octocat-icon.png) 12px 50% no-repeat;
}
#view-on-github {
  margin-right: 0;
}

code, pre {
  margin-bottom: 30px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  font-size: 14px;
  color: #222;
}

code {
  padding: 0 3px;
  background-color: #f2f2f2;
  border: solid 1px #ddd;
}

pre {
  padding: 20px;
  overflow: auto;
  color: #f2f2f2;
  background: #303030;
}
pre code {
  padding: 0;
  color: #f2f2f2;
  background-color: #303030;
  border: none;
}

ul, ol, dl {
  margin-bottom: 20px;
}


hr {
  height: 1px;
  padding-bottom: 1em;
  margin-top: 1em;
  line-height: 1px;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
  border: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  font-weight: 300;
  text-align: center;
  border: 1px solid #ebebeb;
}

form {
  padding: 20px;
  background: #f2f2f2;

}


h1 {
  font-size: 32px;
}

h2 {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: bold;
  color: #303030;
}

h3 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #d5000d;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  color: #303030;
}

h5 {
  font-size: 1em;
  color: #303030;
}

h6 {
  font-size: .8em;
  color: #303030;
}

p {
  margin-bottom: 20px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  padding: 0 0 0 30px;
  margin-bottom: 20px;
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
}

ul li {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol li {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 3px;
}

dl dt {
  color: #303030;
}

footer {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 40px;
  font-size: 13px;
  color: #aaa;
  background: transparent url('../images/hr.png') 0 0 no-repeat;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '.';
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

header h1 img {
    width: 0.7em;
    margin-right: 0.2em;
}

section img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
*/

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960px;

    @media($md-h) {
        max-width: 800px;
    }

    @media($sm-h) {
        max-width: 580px;
    }

    @media($xs-h) {
        max-width: calc(100% - 20px);
    }
}
