nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 50;
    padding: 10px 0px;
    background-color: $secondary;
    color: $secondary-text;

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            display: block;
            padding-right: 10px;
            
            @media($xs-h) {
                padding: 0px;
                text-align: center;
                flex-grow: 1;
            }

            &.logo {
                flex-grow: 1;

                @media($xs-h) {
                    width: 100%;
                    flex-basis: 100%;
                }

                a {
                    display: block;
                    background-image: url('/public/svg/logo-pink.svg');
                    background-size: 100% 100%;
                    width: 32px;
                    
                    @media($xs-h) {
                        margin: 0px auto;
                    }
                }
            }
            
            a {
                height: 32px;
                line-height: 32px;
                text-decoration: none;
                color: $secondary-text;

                &:hover {
                    color: $primary;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
