section {
    &.banner {
        height: 960px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $white;
        background-position: center;
        background-size: cover;

        @media($md-v) {
            height: 800px;
        }

        @media($sm-v) {
            height: 580px;
        }

        @media($xs-v) {
            height: 375px;
        }

        .container {
            
        }
    }

    &.rich-text-section {
        img {
            max-width: 100%;
        }
    }
}
