section {
    margin-bottom: 4em;

    &.banner {
        height: 960px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $white;
        background-position: center;
        background-size: cover;

        @media($md-v) {
            height: 800px;
        }

        @media($sm-v) {
            height: 580px;
        }

        @media($xs-v) {
            height: 375px;
        }

        .container {
            position: relative;
            padding-right: 20em;
        
            @media($md-h) {
                padding-right: 20em;
            }

            @media($sm-h) {
                padding-right: 10em;
            }

            @media($xs-h) {
                padding-right: 5em;
            }
        }
    }

    &.rich-text-section {
        img {
            max-width: 100%;
        }
    }
}
