section {
    padding: 7em 0em;
    position: relative;

    ul, ol {
        padding-left: 2em;
    }

    ul {
        list-style-type: disc;
    }
    
    ol {
        list-style-type: decimal;
    }

    &:after, &:before {
        position: absolute;
        left: 0px;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
    }
    
    &:after {
        bottom: 0px;
        background-image: radial-gradient(circle, rgba(120, 120, 120, 0.2), rgba(120, 120, 120, 0));
    }
    
    &:before {
        bottom: -1px;
        background-image: radial-gradient(circle, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
    }

    &.banner {
        padding: 0em;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $white;
        background-position: 50% 0%;
        background-size: auto 600px;
        background-attachment: fixed;

        &.light {
            color: material-color('grey', '800');
        }

        @media($md-v) {
            height: 500px;
            background-size: auto 500px;
        }

        @media($sm-v) {
            height: 400px;
            background-size: auto 400px;
        }

        @media($xs-v) {
            height: 300px;
            background-size: auto 300px;
        }

        .container {
            position: relative;
        
            h1, h2, p {
                max-width: 50%;
            }
        }
    }

    &.rich-text-section {
        .container {
            max-width: 600px;

            img {
                max-width: 100%;
            }
        }
    }

    &.buttons {
        .container {
            text-align: center;

            .button-container {
                .btn {
                    margin: 1em;
                }
            }

            .link-container {
                margin-top: 1em;

                a {
                    margin: 0em 1em;
                }
            }
        }
    }
    
    &.images {
        .container {
            text-align: center;

            img {
                margin: 2em 1em 0em 1em;
                line-height: 1em;
                height: 3em;
            }
        }
    }

    .container {
        position: relative;
    }
}
