.btn {
    background-color: $pink-medium;
    color: $white;
    height: 50px;
    width: 230px;
    line-height: 50px;
    border-radius: 25px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent;

    &:hover {
        color: $white;
        background-color: $pink-light;
        border-color: $pink-medium;
    }
}
