.btn {
    background-color: material-color('pink', '600');
    color: #fff;
    height: 50px;
    width: 230px;
    line-height: 50px;
    border-radius: 25px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent;

    &:hover {
        color: #fff;
        background-color: material-color('pink', '300');
        border-color: material-color('pink', '600');
    }
}
