.btn {
    background-color: material-color('pink', '600');
    color: #fff;
    height: 50px;
    width: 230px;
    line-height: 50px;
    border-radius: 25px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    position: relative;

    &:active {
        top: 1px;
        box-shadow: none;
    }

    &:hover, &:focus {
        outline: 0px;
        color: #fff;
        background-color: material-color('pink', '300');
        border-color: material-color('pink', '600');
    }
}
