---
layout: compress
---

<!DOCTYPE html>
<html>
    {% include main/head.html %}

    <body>
        {% include main/navigation.html %}

        <div class="page page--docs"> 
            <section class="section-banner">
                <div class="container">
                    <video class="section-banner__video-background" loop muted autoplay poster="/assets/img/bg-secondary.jpg">
                        <source src="/assets/webm/bg-secondary.webm" type="video/webm">
                    </video>

                    <h1>{{ page.title }}</h1>
                    <h3>{{ page.description }}</h3>
                </div>
            </section>

            <div class="page--docs__container">
                <nav class="page--docs__nav">
                    <h3>Controllers</h3>
                    
                    <ul>
                        {% for category in page.categories %}
                            <li><a href="#{{ category }}">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>

                <div class="page--docs__content">
                    <div class="page--docs__disclaimer">All API calls must be authenticated. Use the /api/user/login endpoint to get a token and then append it to every request like so: /api/endpoint?token=12345678</div>

                    {% for category in page.categories %}
                        <a href="#{{ category }}" id="{{ category }}" name="{{ category }}"><h2>{{ category }}</h3></a>
                        
                        {% for endpoint in page.endpoints %}
                            {% if endpoint.group == category %}
                                <div class="page--docs__entry">
                                    <div class="page--docs__entry__request">
                                        <div class="page--docs__entry__request__method">{{ endpoint.type }}</div>
                                        <pre class="page--docs__entry__request__url">{{ endpoint.url }}</pre>
                                    </div>

                                    <div class="page--docs__entry__params">
                                        {% for field in endpoint.parameter.fields.Parameter %}
                                            <div class="page--docs__entry__param">
                                                <div class="page--docs__entry__param__name">{{ field.field }}</div> 
                                                <div class="page--docs__entry__param__type">{{ field.type }}</div> 
                                                <div class="page--docs__entry__param__description">{{ field.description }}</div> 
                                            </div>
                                        {% endfor %}
                                    </div>
                                    
                                    {% if endpoint.success.fields["Success 200"] %}
                                        <div class="page--docs__entry__return">
                                            <h4>Returns</h4>

                                            {% for field in endpoint.success.fields["Success 200"] %}
                                                <div class="page--docs__entry__param">
                                                    <div class="page--docs__entry__param__type">{{ field.type }}</div> 
                                                    <div class="page--docs__entry__param__description">{{ field.field | strip_html }} {{ field.description | strip_html }}</div> 
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>

        {% include main/footer.html %}

        {% include main/scripts.html %}
    </body>
</html>
