---
layout: compress
---

<!DOCTYPE html>
<html>
    {% include main/head.html %}

    <body>
        {% include main/navigation.html %}

        <div class="page {% if page.url == "/" %}page--home{% endif %}"> 
            <section class="section-banner">
                <div class="container">
                    <video class="section-banner__video-background" loop muted autoplay poster="/assets/img/bg-secondary.jpg">
                        <source src="/assets/webm/bg-secondary.webm" type="video/webm">
                    </video>

                    {% if page.url == "/" %}
                        {% include main/logo.html %}
                    {% endif %}

                    <h1>{{ page.title }}</h1>
                    <h3>{{ page.description }}</h3>
                    
                    {% if page.url == "/" %}
                        <a href="//demo.hashbrown.rocks" target="_blank" class="btn">Demo</a>
                    {% endif %}
                </div>
            </section>

            {% for section in page.sections %}     
            {% include hashbrown/render_section section = section %}
            {% endfor %}
        </div>

        {% include main/footer.html %}

        {% include main/scripts.html %}
    </body>
</html>
