/**
 * A group of buttons
 */
.section-buttons {
    height: 30vh;
    display: flex;
    align-items: center;
    text-align: center;
    
    &__buttons {
        margin-top: 2rem;
    }

    &__links {
        margin-top: 2rem;

        a {
            margin: 0 0.5rem;
        }
    }
}
